body{
font-family: 'Roboto', sans-serif;
margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input, button {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
.container {
    margin: 0 auto;
    

}
.copyrights {

    margin-bottom: 10px;

}

@media screen and (min-width: 320px)and (max-width: 767px) {
    .container {
       width: 320px;
margin: 0 auto;
    }}

@media screen and (min-width: 768px)and (max-width: 1279px) {
    .container {
        width: 768px;

    }
}
    

 .footer {
     background-color: #F7F7F7;

         
 }

 .footer__btn {
     display: inline-block;
     border: none;
     background: transparent;
     text-decoration: underline;
     
     cursor: pointer;
     color: #545454;
     font-size: 16px;
     
 }
 .footer__btn:hover{
    color: #FF6B08;
 }




 
 .wrapper {
text-align: center;
    color: #545454;
    padding-top: 29px;
    padding-bottom: 28px;
    font-family: Roboto;
    font-size: 14px;
    padding-left: 20px;
        padding-right: 20px;
}


 
 @media screen and (min-width: 768px) {
     .wrapper {
         display: flex;
         justify-content: center;
         padding-top: 30px;
         padding-bottom: 30px;
         font-size: 16px;
         line-height: 1.19;
        padding-left: 32px;
            padding-right: 32px;
         
         
     }.copyrights{
margin: 0;
     }
     
     
 }
  @media screen and (min-width: 1280px) {
      .wrapper {
         
          padding-top: 29px;
          padding-bottom: 29px;
         

      }

      .copyrights {
          margin: 0;
      }}

 
 .footer__authors{
    margin: 0;
 }



 .footer__icon {
     animation: heartwork 1400ms cubic-bezier(.25, .1, .25, 1.5) infinite;
    
 }

 @keyframes heartwork {
     0% {
         transform: scale(1);
     }

     40% {
         transform: scale(1.4);
     }

     45% {
         transform: scale(1);
     }

     100% {
         transform: scale(1);
     }
 }





























